doctype 5
html
    head
        title Hello world!!!
    body
        h1 template: #{template}, language: #{language}, country: #{country}, city: #{city}, category:#{category}, subcategory: #{subcategory}, postId: #{postId}, badRout: #{badRout}

